@model mungmunglogServer.Models.History

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>History</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <input asp-for="Contents" class="form-control" />
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentFile1" class="control-label"></label>
                <input asp-for="AttachmentFile1" class="form-control" />
                <span asp-validation-for="AttachmentFile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentFile2" class="control-label"></label>
                <input asp-for="AttachmentFile2" class="form-control" />
                <span asp-validation-for="AttachmentFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentFile3" class="control-label"></label>
                <input asp-for="AttachmentFile3" class="form-control" />
                <span asp-validation-for="AttachmentFile3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentFile4" class="control-label"></label>
                <input asp-for="AttachmentFile4" class="form-control" />
                <span asp-validation-for="AttachmentFile4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttachmentFile5" class="control-label"></label>
                <input asp-for="AttachmentFile5" class="form-control" />
                <span asp-validation-for="AttachmentFile5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FamilyMemberId" class="control-label"></label>
                <select asp-for="FamilyMemberId" class ="form-control" asp-items="ViewBag.FamilyMemberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
